/*.nav-top {
  width: 100%;
  height: 40px;
  background: #000;
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  overflow: hidden;
}
.nav-top a { color: white; }
.nav-top a:hover { text-decoration: underline; }
.nav-top div.row { padding: 10px 0; }

.head-room { margin-top: 40px; }*/

@media (min-width: 768px) {
 .navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
 }
}

/*@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}*/