<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Our Point of View | HN Conseil</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="../css/creative.css"> -->
    <link rel="stylesheet" href="../css/hn.css">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body>

    <!-- Navigation -->
   <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">HN Conseil</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></a>

                      <ul class="dropdown-menu">
                        <li><a href="#">History & Mission</a></li>
                        <li><a href="#">Our Point of View</a></li>
                        <li><a href="#">Case Study</a></li>
                        <li><a href="#">Team Members</a></li>
                        
                      </ul>
                  </li>
                  <li>
                      <a class="page-scroll" href="../index.html#services">Services</a>
                  </li>
                  <!-- <li>
                      <a class="page-scroll" href="#portfolio">Portfolio</a>
                  </li> -->
                  <li>
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Brand <span class="caret"></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Ethics Of Job Handling</a></li>
                        <li><a href="#">Something else here</a></li>
                      </ul>
                  </li>
                  <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Company News</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Carrers  <span class="caret"></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Job Search</a></li>
                      <li><a href="#">Start Your Career</a></li>
                      <li><a href="#">Grow Your Career</a></li>
                    </ul>
                  </li>
                  <li>
                    <a class="page-scroll" href="../index.html#contact">Contact</a>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container">

      <div style="margin-top : 30px"></div>

      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Our Point of View</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <p class="lead"><q>the best decision is to understand the <q>why?</q>; resolve the <q>what?</q>; and seek for <q>where?</q> to achieve the success</q></p>
            <p>Understanding every aspect of the ministry life (functional, technical, emotional, personal and social) through the spiritual gauge is a crucial route to church growth and healthiness..</p>
            <p>However, significant successes among todays churches are sparingly noticed. Ministries  are frustrated with dwindling growth rate, inconsistent support from members, periodic movement and shift in membership size and strength, shift in focus among other reasons and successes seems to be harder to come by.</p>
            <p>Identifying successful ministry isn't hard, but losing focus of your own vision and chasing shadows without proper research or analysis of your own environment is more costly. </p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="../img/homepage/University-of-Essex2.jpg" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <p>We believe that our fresh perspective and proven approach will help church leaders change this paradigm:
              The stealthy information to a success  and a failure in todays ministry consists of 3 things (Luke 2 vs 49 - KJV):
              <ul>
                <li>Methodology – HOW to look</li>
                <li>Perspective - Knowing WHAT to look for</li>
                <li>Action - knowing WHEN/WHERE to look</li>
              </ul>
            </p>
            <dl>
              <dt>Knowing HOW to look:</dt>
              <dd>Every church is unique on their own so are their needs. Selecting appropriate strategy is key in predicting the outcome and success of the ministry. We deploy divers research techniques and tools to unravel the challenges facing the ministry and suggest the best approach to tackling such. It also help us in prioritizing resources and suggesting the appropriate timeline for each project.
              </dd>
            </dl>
            <dl>
              <dt>Knowing WHAT to look for:</dt>
              <dd>We spiritually and strategically combine multiple solutions grounded in research to access the pulse of the ministry. Information are extracted from leaders, workforce, members, external sources and other ministries about us. This are then tested with our proven solutions which excite our clients by its ability to address their genuine need. An in-depth understanding of their needs is therefore essential in uncovering breakthrough opportunities and prioritizing resources behind exciting and spiritual activities. This is centered on:
                <dl class="dl-horizontal">
                  <dt>Connectedness:</dt>
                  <dd>that the church is a body and everything is connected to one another, so is the outcome (success or  failure)</dd>
                  <dt>Relationship:</dt>
                  <dd>The effect or consequence of YESTERDAY action will have a resultant effect on TOMORROW if nothing is done to it TODAY</dd>
                  <dt>Predictability:</dt>
                  <dd>that our perception, behavior and habits  are repeated and can be studied to predict future outcomes</dd>
                </dl>
              </dd>
            </dl>
            <dl>
              <dt>Knowing WHEN/WHERE to look:</dt>
              <dd>Ministries are assessed, analyzed and monitored based on their needs with specific focus on “THE 5 CORE MINISTRY PARAMETERS” as standards to constantly evaluate their health and improve on it. Periodic assessment of different questions is suitable for diverse church needs. It unravels new area of improvement and promote the general understanding of present situations within a church. Forecast and trends are also part of the deliverables of this tool.
              </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="../img/homepage/University-of-Essex2.jpg" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          
        </div>
      </div>

    </div>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Anglar Core JavaScript -->
    <script src="../js/angular.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/jquery.fittext.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/creative.js"></script>
    

</body>

</html>
